*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    background-color: #ffffff;
    height: 40px;
    font-family: -apple-system, BlinkMacSystemFont,"SF Pro Display", "Segoe UI",Roboto, Helvetica, Arial, sans-serif;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    position: fixed;
    z-index:1000;
    width: 100%;

}

body{
    font-family: -apple-system, BlinkMacSystemFont,"SF Pro Display", "Segoe UI",Roboto, Helvetica, Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 100px;
}

.menu ul{
    display: flex;
    align-items: center;
    gap: 36px;
    list-style: none;

}

.menu-options{
    font-size: 0.8em;
    font-style: normal;
    height: 20px;
    cursor: pointer;
}

.icon{
    cursor: pointer;
}

.bag{
    position: relative;
    height: 730px;
    overflow: hidden;
}

.bag-content{
    padding-top: 50px;
    height: 690px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont,"SF Pro Display", "Segoe UI",Roboto, Helvetica, Arial, sans-serif;
    font-size:xx-large;
    position: relative;
    z-index: 2;

}

.bag-content p{
    margin-top: 0px;
    font-size: x-large;
}

.bg-video{
    position: absolute;
    top: 50%;
    left: 50%;

    min-width: 100%;
    min-height: 100%;

    object-fit: cover;
    transform: translate(-50%, -50%);

    z-index: 1;
}

.headline{
    margin-bottom: 0px;
    margin-top: 30px;
    font-weight: 600;
}

.subhead{
    font-size: x-large;
}

.button-bag{
    background-color: #0071e3;
    color: white;
    padding: 12px;
    border-radius: 40px;
    font-size: 17px;
    border: 0px;
    padding-left: 23px;
    padding-right: 23px;
    
}

.iphone{
    background-image: url(./assets/iPhone.jpg);
    height: 692px;
    background-position: center;
    
}

.iphone-content{
    text-align: center;
    font-size: xx-large;
    padding-top: 10px;
}

.button-learn-more{
    background-color: #0071e3;
    color: white;
    padding: 12px;
    border-radius: 40px;
    font-size: 17px;
    border: 0px;
    padding-left: 23px;
    padding-right: 23px;
}
.shop-iphone{
    background-color: white;
    border: #0071e3 solid 1px;
    border-radius: 40px;
    font-size: 17px;
    padding: 12px;
    color: #0071e3;
    padding-left: 23px;
    padding-right: 23px;
}

.airpods{
    background-image: url(./assets/airpods-3-pro.jpg);    
    height: 800px;
    background-position: center;
}

.airpods-content{
    padding-top: 10px;
    text-align: center;
    font-size: 40px;
    margin-bottom: 0px;
}
.button-buy{
    background-color: white;
    border-radius: 40px;
    border: solid #0071e3 1px ;
    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
    color: #0071e3;
    font-size: 17px;
}

.prod-grid{
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    grid-template-rows: repeat(3,615px);
    gap: 15px;
    max-width: 100%;
}

.card-1{
    text-align: center;
    background-image: url(./assets/gift-card.jpg);
    background-position: center;
}

.gift-card{
    font-size: 40px;
}

.card-2{
    text-align: center;
    background-image: url(./assets/ipad.jpg);
    background-position: center;
    
}

.ipad{
    font-size: 40px;
}

.content{
    font-size: 20px;
}

.other-logo ul{
    display: flex;
    align-items: center;
    gap: 36px;
    list-style: none;
    margin-left: 36px;
    padding-top: 5px;
}

.ham{
    display: none;
}

#menu-toggle{
    display: none;
}

@media (max-width:768px) {
    .logo{
        margin-left: 0;
        width: 100%;
        padding-left: 15px;
        
    }
    
    .ham{
        display: block;
        padding-right: 10px;
    }

    .menu ul{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        align-items: flex-start;
        background-color: #ffffff;
        padding: 29px 0;
        gap: 15px;
        font-size: 25px;
        padding-left: 30px;
        
    }

    #menu-toggle:checked ~ .menu ul{
        display: flex;
        text-align: left;
    }

    .prod-grid{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        justify-items: center;
    }
}