.navbar{
    display: flex;
    background-color: #f5f5f7;
    height: 40px;
    font-family: -apple-system, BlinkMacSystemFont,"Segoe UI", Roboto, Helvetica, Arial, sans-serif;;
    justify-content: center;
    align-items: center;
}
body{
    background-color: white;
    margin: 0;
    padding: 0;
}
.logo{
    display: flex;
    align-items: center;
    cursor: grab;
}
.menu ul{
    display: flex;
    align-items: center;
    gap: 36px;
    list-style: none;

}
.menu-options{
    font-size: 0.8em;
    font-style: normal;
    height: 20px;
}
.icon{
    padding-top: 4px;
    cursor: pointer;
}
