.navbar{
    display: flex;
    background-color: #f5f5f7;
    height: 45px;

}
body{
    background-color: black;
    margin: 0;
    padding: 0;
}
.logo-apple{
    display: block;
    image-resolution: calc(2px);
    height: 65px;
    align-content: center;
    justify-content: center;
}
.logo{
    display: flex;
    align-items: center;
}