.navbar{
    display: flex;
    background-color: #ffffff;
    height: 40px;
    font-family: -apple-system, BlinkMacSystemFont,"SF Pro Display", "Segoe UI",Roboto, Helvetica, Arial, sans-serif;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    position: relative;
    z-index:1000;
}
body{
    background-color: white;
    margin: 0;
    padding: 0;
}
.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.menu ul{
    display: flex;
    align-items: center;
    gap: 36px;
    list-style: none;

}
.menu-options{
    font-size: 0.8em;
    font-style: normal;
    height: 20px;
    cursor: pointer;
}
.icon{
    cursor: pointer;
}
.bag{
    position: relative;
    height: 690px;
    overflow: hidden;
}
.bag-content{
    height: 690px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont,"SF Pro Display", "Segoe UI",Roboto, Helvetica, Arial, sans-serif;
    font-size:xx-large;
    position: relative;
    z-index: 2;
}
.bg-video{
    position: absolute;
    top: 50%;
    left: 50%;

    min-width: 100%;
    min-height: 100%;

    object-fit: cover;
    transform: translate(-50%, -50%);

    z-index: 1;
}
.headline{
    margin-bottom: 0px;
    margin-top: 30px;
}
.subhead{
    font-size: x-large;
}
.button{
    background-color: #0071e3;
    color: white;
    padding: 12px;
    border-radius: 40px;
    font-size: 17px;
    border: 0px;
    padding-left: 23px;
    padding-right: 23px;
    
}